# Editor files
.vscode/
.idea/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Temporary files
*.tmp
*.bak
*.log

# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Env
.env
.env.local
*.local
